nav, .page-footer  {
    background-color: #007bff;
    color: white;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
}

footer {
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: #007bff;
    color: white;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
}



@media screen and (max-width: 600px) {
    footer {
        position: relative;
    }
    p {
        font-size: 14px;
    }

    
    
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #69b7cf;
}



h1, h2, h3 {
    color: #333;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
}
p {
    font-size: 16px;
    line-height: 1.6;
}

.row {
    margin: 0 10px;
}

.wallpaper img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
    margin: 0 auto;
}
.wallpaper {
    margin-bottom: 20px;
}

/* wallpaper hover  */

.wallpaper img:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 90%;

}

.container2 {
    margin: 0 auto;
    height: 95%;
}


    .card-container {
        flex: 1 0 21%; /* 4 items per row */
        margin: 1%;
        box-sizing: border-box;
    }

    @media (max-width: 1200px) {
        .card-container {
            flex: 1 0 30%; /* 3 items per row */
        }
    }

    @media (max-width: 800px) {
        .card-container {
            flex: 1 0 45%; /* 2 items per row */
        }
    }

    @media (max-width: 600px) {
        .card-container {
            flex: 1 0 90%; /* 1 item per row */
        }
    }




.index-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
    height: 100%;
    width: 100%;
    text-size-adjust: 100%;
    text-align: center;
}

.index-card img {
    width: 300px;
    max-width: 100%;
    height: 200px;
    border-radius: 4px;

}


.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
    height: 100%;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.card-content {
    margin-top: 15px;
}

.card-content h2 {
    color: #444;
    margin-top: 0;
}

.card-content p {
    color: #666;
    line-height: 1.6;
}

.card-action {
    padding-top: 10px;
    border-top: 1px solid #eee;
    text-align: center;
  
}

.card-action .btn {
    background-color: #007bff;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.card-action .btn:hover {
    background-color: #0056b3;
}

.card-panel {
    padding: 10px;
    margin-top: 20px;
}

.teal-text {
    color: #009688;
}

.red-text {
    color: #f44336;
}

.striped {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #000000;
    
}
/* Feeding the Birds */
.striped th, .striped td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #1b1b1b;
    border-top: 1px solid #191919;
}


.toy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    border-radius: 4px;
    border-color: #000000;
    border-style: double;
}

.form {
    margin-top: 20px;
}

input[type="submit"].btn {
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"].btn:hover {
    background-color: #45a049;
}


.card img {
    width: 300px;  
    height: 200px; 
    object-fit: cover;  
}

.card {
    margin-bottom: 20px;
    border: none;
}

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;

}


.container2 {
    margin: 0 auto;
    max-width: 600px;
    padding: 0 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}


.primary-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    background-color: #0099c8;
    transition: ease-in-out 3s;
}

.primary-btn:hover {
    opacity: 0;
    cursor: not-allowed;
}

.primary-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.card-content {
    margin-top: 15px;
    text-align: center;

}

.card2 {
    margin-bottom: 20px;
    border: none;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;

}

h6 {
    color: #444;
    margin-top: 0;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
}

h5 {
    color: #444;
    margin-top: 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
}

.center-align .btn {
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #007bff;
    width: 60%;

}