{% extends 'base.html' %}
{% block content %}
    <h1>Finch List</h1>
    <div style="display: flex; flex-wrap: wrap;">
    {% for finch in finches %}
    <!-- <div class="card-container">   -->
    <div style="flex: 1 0 33%; margin: 1%; box-sizing: border-box;">   
            <div class="index-card">
                <a href ="{% url 'detail' finch.id %}">
                    {% if finch.image %}
                        <img src="{{ finch.image.url }}" alt="{{ finch.name }}">
                    {% else %}
                        <p>No image available</p>
                    {% endif %}
                    <div class="card-content">
                        <h3>{{ finch.name }}</h3>
                        <p>Breed: {{ finch.breed }}</p>
                        <p>Age: {{ finch.age }}</p>
                        <p>Description: {{ finch.description }}</p>
                        <p>Notes: {{ finch.notes }}</p>
                    </div>
                </a>
            </div>
        </div>
    <!-- </div> -->
    {% endfor %}
    </div>
{% endblock %}
