{% extends 'base.html' %}
{% block content %}

    <h1>Welcome to The Finch Collector! 🐦</h1>

<div class="container2">
<h3>Our Journey</h3>
<p>Our journey began in the summer of 2022. We were a group of young, ambitious, and bird-loving individuals. One day we were out birdwatching and we thought to ourselves, "Wouldn't it be cool if we just started collecting birds?"
  And that's how The Finch Collector was born. Ever since then, we've been collecting birds and sharing our collection with the world.</p>

    <h3>What is The Finch Collector?</h3>
    <p>Well, that's a question we've been asking ourselves for years.</p>

    <p>Is it a bird collection? Is it a bird identification app? Is it a bird social media platform? Is it a bird blog? Is it a bird encyclopedia? Is it a bird database? Is it a bird website? Is it a bird? What is it?</p>
    <p>The answers to all those questions, and more lie behind this button 👇</p>
    <button type="button" class="btn primary-btn" data-toggle="modal" data-target="#errorModal">
      Click here to find out!
    </button>

    <h3>What's new?</h3>
    <p>Well, we're glad you asked. We've recently added a new feature to our website. You can now scehdule feeding times for the birds in your collection. This will help you keep track of when you need to feed the birds.</p>
    <h3>But wait, there's more!</h3>
    <p>As if that wasn't enough, we've also started collecting toys for our birds. You can now add toys to your collection or select from the toys we've already collected.</p>

    <h3>What's next?</h3>
    <p>We're always looking for ways to improve our website. We're currently working on a new feature that will allow you to add birds to your collection by taking a picture of them. We're also working on a new feature that will allow you to share your collection with your friends.</p>
</div>
    <p>Disclaimer: Accuracy of bird identification may vary. The Finch Collector is not responsible for any misidentified birds. 🐦🌳📷💻</p>
{% endblock %}

